/* Exo 2 Font */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@200&display=swap');

/* Basic Styling */

:root{
  /* Colors */
  --black: #09090c;
  --grey:#a4b2bc;
  --white:#fff;
  --background: rgba(137,171,245,0.37)
}

*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--background);
  font-family: 'Exo 2', sans-serif;
  font-size: 1.1rem;
}